<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <body>
        <nav>
            <img src="images/logo_aprg.png" id="logo" class="logo" alt="Logo">
            <form action="/logOut" method="post">
                <button type="submit" id="logout-button">Log out</button>
            </form>
        </nav>
        <h1>Neuen Nutzer hinzufügen</h1>
        <form action="/newUser" method="post">
            Username: <input type="text" name="username" placeholder="coldworld1312" required ><br>
            passwort: <input type="password" name="userpassword"><br>
            passwort wiederhohlen: <input type="password" name="repeatedPassword" ><br>
            <button type="submit">add user</button>
    </body>
</html>