<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" type="text/css" href="/style/home.css">
    </head>
    <style>
    
</style>
  
    <body>
        <nav>
            <img src="images/logo_aprg.png" id="logo" class="logo" alt="Logo">
            <form action="/logOut" method="post">
                <button type="submit" id="logout-button">Log out</button>
            </form>
        </nav>
        <div class="main">
        <h1>Welcome</h1>
        <form action="/select" method="post">
            <button type="submit">Aufgaben</button>
        </form>
    
       
        <form action="/logOut" method="post">
            <button type="submit" id="login-button">Log in</button>
        </form>
        </div>
    </body>
</html>